{% extends 'idea/layout.html' %}
{% block title %}
<h1>IDEA DETAIL</h1>
<p>아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을 자세히 살펴보세요</p>
{% endblock title %}

{% block content %}
<div style="display: inline-block; margin: 10px;">
    <img src="{{ idea.image.url }}" alt="">
</div>
<div style="display: inline-block; margin: 10px; text-align: left;">
    <h1>{{ idea.title }}</h1>
    <h3>1. 아이디어 관심도 : {{ idea.interest }}</h3>
    <h3>2. 예상 개발 툴 : <a href="{% url "devtool:devtool_detail" idea.devtool.id %}">{{ idea.devtool.name }}</a> </h3>
    <h3>3. 아이디어 설명 :</h3>
    <p>{{ idea.content }}</p>
</div>
<div>
    <div style="text-align: center; ">
        <form action="{% url 'idea:idea_delete' idea.pk %}" style="display: inline-block;" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        <form action="{% url "idea:idea_list" %}" style="display: inline-block;" method="GET">
            {% csrf_token %}
            <input type="submit" value="목록">
        </form>
        <form action="{% url "idea:idea_edit" idea.pk %}" style="display: inline-block;" method="GET">
            {% csrf_token %}
            <input type="submit" value="수정">
        </form>
    </div>
</div>
{% endblock content %}